@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c0c0c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d0303;
}

/* Monokai theme colors */
.json-key {
  color: #f92672;
}
.json-string {
  color: #fd971f;
}
.json-number {
  color: #a6e22e;
}
.json-boolean {
  color: #a6e22e;
}
.json-punctuation {
  color: #66d9ef;
}

/* MUI Input button dark mode (sliders number spinner) */
.MuiInputBase-input[type="number"]::-webkit-inner-spin-button,
.MuiInputBase-input[type="number"]::-webkit-outer-spin-button {
  filter: invert(100%);
}
